{% if user.is_staff %}
{% load i18n satchmo_currency app_plugins %}
<div id="satchmo-toolbar">
    <div id='st-view' title="Satchmo Toolbar">&nbsp;&raquo;&nbsp;</div>
    <div id="st-panels">
        <div id="st-hide" class="panel">{% trans 'Satchmo' %} {{ st_satchmo_version }}</div>
        <div class="panel">
            <a href="{% url administration_home %}">{% trans "Admin" %}</a> | 
            <a href="{% url logout_from_administration %}">{% trans "Logout" %}</a>
        </div>
        {% if st_show_sales %}
        <div class="panel">
            {% blocktrans %}Number sold: {{st_total_sold}}{% endblocktrans %} <span id="toggle">{% if st_variations %}(+){% endif %}</span>
            <div id="slidedown">
                    <ul>
                    {% for variation in st_variations %}
                        <li>{{ variation.name }}:{{variation.total_sold}} </li>
                    {% endfor %}
                    </ul>
                </div>
        </div>
        {% endif %}
        {% for label, url in st_edits %}
        <div class="panel">
            <a href="{{ url }}">{{ label }}</a>
        </div>
        {% endfor %}
        {% plugin_point "satchmo_toolbar" %}
    </div>
</div>
<div style="clear: both;"></div>
{% endif %}
