{% extends "shop/base.html" %}
{% load i18n ctags %}
{% load satchmo_cart %}
{% load satchmo_currency %}
{% load satchmo_util %}
{% load satchmo_product %}
{% load satchmo_discounts %}
{% load normalize_decimal %}

{% block navbar %}{% endblock %}

{% block content %}
<div id="payment">
    <h3>Payment Information</h3>
    {% if not is_mobile %}
        {% include "shop/cart_table.html" %}
        <h4>Payment Information</h4>
    {% endif %}

    {% if form.errors %}
        <h2>{% blocktrans count form.errors|length as count %}Please correct the following error:{% plural %}Please correct the following errors:{% endblocktrans %}</h2>
        {% if form.non_field_errors %}<p>
        {{ form.non_field_errors }}
        </p>{% endif %}
    {% endif %}

    <form method="post" action=".">
        <table>
    
            {% block payment_table %}
            {# put your payment module specific rows here.  For example, CC number. #}
            {% endblock %}
            
        </table>
    <p style="margin-top: 20px">
        <img src="{% media_url 'img/ajax-loader.gif' %}" class="hide" />
        <input type="submit" id="continue" value="{% trans "Continue" %}"/>            
    </p>
    </form>
    
	<!-- (c) 2005, 2010. Authorize.Net is a registered trademark of CyberSource Corporation --> <div class="AuthorizeNetSeal"> <script type="text/javascript" language="javascript">var ANS_customer_id="06f9ace4-9086-43f7-96c6-e60e576a2597";</script> <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js" ></script> <a href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Online Payment System</a> </div>
	
    <span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=AvL29JC7FUUgzOxpyTl1T4B4zh9bCdDfO09DEMZ9MPzPBP8U77N9u"></script><br/><a style="font-family: arial; font-size: 9px" href="http://videos.godaddy.com" target="_blank">GoDaddy</a></span>
</div>
    
    <div class="cl"></div>
    
    <script type="text/javascript">
        $(function() {
            $('form').submit(function() {
                $('form input[type=submit]').attr('disabled', true);
                $('form img').show();
            });
        });
    </script>
{% endblock %}
