As stated in our refund policy (which can be found here you were required to provide us at least <b>72 hours</b> notice of cancellation to receive a refund; Therefore, you are not eligible for a refund and cannot change the date or time of your tour.Also, there are no refunds for missed tours, and all Alcatraz/Statue of Liberty Combo Tours and Yosemite Hotel Combo Tours are sold as Final (No Refunds).  We certainly hope you can make all attempts to make your scheduled tour with us.

<br/><br/><br/>

While our Customer Service Staff are not permitted to allow exceptions to this policy, and therefore we do not accept telephone calls regarding this - - you may, however, click here to email our Refunds Manager at <a href="mailto:refunds@sfshuttletours.com">refunds@sfshuttletours.com</a> if you feel you should receive an exception. Please be advised, because in most cases we had to reject others while you held/owned your reservation, it is therefore one of the reasons why we strictly enforce the policy and almost never allow exceptions. given that our customers were made aware of the policy and agreed to it before they purchased their reservations.

<br/><br/><br/>

Our Terms and Conditions can be found here:<br/>

<a href="http://www.sanfranshuttletours.com/terms_privacy.htm" target="_blank">SF Related Tours (SF, Wine Country, Monterey Muir Woods, Yosemite)</a><br/>
<a href="http://www.newyorktourshuttle.com/terms-conditions.php" target="_blank">New York Related Tours</a><br/>
<a href="http://www.losangelestourshuttle.com/terms_privacy.htm" target="_blank">Los Angeles Related Tours</a><br/>
<a href="http://www.toursofcalifornia.com/terms_conditions.php" target="_blank">Tours of California Related Tours</a><br/>
