{% extends "shop/base.html" %}
{% load ctags %}

{% block content %}
<div>
    <p>As stated in our refund policy that you were made aware of and agreed to before purchasing your reservation, you were required to provide us at least 72 hours notice of cancellation to receive a refund; therefore, you are not eligible for a refund and cannot change the date or time of your tour.  Also, there are no refunds for missed tours, and all Alcatraz/Statue of Liberty Combo Tours and Yosemite Hotel Combo Tours are sold as Final (No Refunds).  We certainly hope you can make all attempts to make your scheduled tour with us.</p>
    <p>While our Customer Service Staff are not permitted to allow exceptions to this policy, and therefore we do not accept telephone calls regarding this -- you may, however, click <a href="mailto:refunds@sfshuttletours.com">here</a> to email our Refunds Manager if you feel you should receive an exception.  Please be advised though, that one of the reasons why we strictly enforce the policy and almost never allow exceptions is because in most cases we had to reject others while you held/owned your reservation.</p>

    <p>Our Terms and Conditions can be found here:</p>

    <p>SF Related Tours (SF, Wine Country, Monterey Muir Woods, Yosemite):  <a href="http://www.sanfranshuttletours.com/terms_privacy.htm">http://www.sanfranshuttletours.com/terms_privacy.htm</a></p>
    <p>New York Related Tours:  <a href="http://www.newyorktourshuttle.com/terms-conditions.php">http://www.newyorktourshuttle.com/terms-conditions.php</a></p>
    <p>Los Angeles Related Tours:  <a href="http://www.losangelestourshuttle.com/terms_privacy.htm">http://www.losangelestourshuttle.com/terms_privacy.htm</a></p>
    <p>Tours of California Related Tours:  <a href="http://www.toursofcalifornia.com/terms_conditions.php">http://www.toursofcalifornia.com/terms_conditions.php</a></p>
</div>
{% endblock %}