{% extends "admin/base_site.html" %}

{% load ctags %}

{% block title %}Administration Dashboard{% endblock title %}


{% block content %}
    {% if not user.is_superuser %}
        <h1>Shuttle Tours Administration Interface</h1>
        <p>Found a bug? Email <a href="mailto:support@tivix.com">support@tivix.com</a></p>
    {% else %}
        <h1>Administration Dashboard</h1>
        <div id="analytics_side">
            <div class="box">
                <h3>
                    <form method="GET" action="{% url administration_home %}">
                        {{ last_n_days_stats_form.last_n_days_stats }} days data
                        <input type="submit" value="GO" />
                        <img src="{% media_url 'img/ajax-loader.gif' %}" class="hide" />
                    </form>
                </h3>
                <div class="cl"></div>

                <div class="fl">
                    {% for day in num_orders_7_days %}
                        {{ day.date }} - {{ day.num_orders }} orders<br/>
                    {% endfor %}
                    <br/>
                    <b>TOTALS: {{ totals_7_days_ago }} orders</b>
                </div>

                <!--<div class="fl">-->
                    <!--{% for day in num_orders_7_days_one_year_ago %}-->
                        <!--{{ day.date }} - {{ day.num_orders }} orders<br/>-->
                    <!--{% endfor %}-->
                    <!--<br/>-->
                    <!--<b>{{ totals_year_go }} orders</b>-->
                <!--</div>-->

                <div class="fl">
                    {% for day in num_orders_7_days %}
                        Total sales<br/>
                    {% endfor %}
                    <br/>
                    <b>Total sales : $</b>
                </div>

                <div class="fl">
                    {% for day in num_orders_7_days %}
                        Adwords Wine Ad<br/>
                    {% endfor %}
                    <br/>
                    <b>Total: $</b>
                </div>

                <div class="fl">
                    {% for day in num_orders_7_days %}
                        Adwords City Ad<br/>
                    {% endfor %}
                    <br/>
                    <b>Total: $</b>
                </div>

                <div class="fl">
                    {% for day in num_orders_7_days %}
                        Adwords NYC Ad<br/>
                    {% endfor %}
                    <br/>
                    <b>Total: $</b>
                </div>

                <div class="fl">
                    {% for day in num_orders_7_days %}
                        Bing Wine Ad<br/>
                    {% endfor %}
                    <br/>
                    <b>Total: $</b>
                </div>

                <div class="fl">
                    {% for day in num_orders_7_days %}
                        Bing City Ad<br/>
                    {% endfor %}
                    <br/>
                    <b>Total: $</b>
                </div>

                <div class="fl">
                    {% for day in num_orders_7_days %}
                        Bing NYC Ad<br/>
                    {% endfor %}
                    <br/>
                    <b>Total: $</b>
                </div>

                <div class="fl">
                    {% for day in num_orders_7_days %}
                        Total Advertising<br/>
                    {% endfor %}
                    <br/>
                    <b>Total: $</b>
                </div>

                <div class="fl">
                    {% for day in num_orders_7_days %}
                        Gross Revenue<br/>
                    {% endfor %}
                    <br/>
                    <b>Total: $</b>
                </div>

                <div class="fl">
                    {% for change in percent_change_from_year_ago %}
                        <span style="color: {% if change < 0 %}#FF0000{% else %}#00FF00{% endif %};">{{ change }}%</span><br/>
                    {% endfor %}
                    <br/>
                    <b><span style="color: {% if totals_percent_change < 0 %}#FF0000{% else %}#00FF00{% endif %};">{{ totals_percent_change }}%</span></b>
                </div>
                <div class="cl"></div>
            </div>
        </div>

        <div class="cl"></div>

        <br/><hr/><br/>

        <h2>Detailed Analytics</h2>
        <div id="analytics_main">
            <form action="" method="POST" accept-charset="utf-8" id="id_order_search_form">
                {% if form.errors %}
                    {{ form.non_field_errors }}
                    <div class="cl"></div>
                {% endif %}

                <label for="search">From Date</label>
                <input type="text" name="from_date" value="{{ request.POST.from_date }}" />
                {{ form.from_date.errors }}
                <br/>

                <label for="search">To Date:</label>
                <input type="text" name="to_date" value="{{ request.POST.to_date }}" />
                {{ form.to_date.errors }}
                <br/>

                {{ form.exclude_usa.label }} {{ form.exclude_usa }}
                {{ form.order_date_type.label }} {{ form.order_date_type }}
                <br/>

                <input type="submit" value="Go">
                <img src="{% media_url 'img/ajax-loader.gif' %}" class="hide" />
            </form>

            {% if analytics_total %}
                <div>
                    <h1>Total # of Orders: {{ analytics_total.total_orders }}</h1>
                    <h2># Tours Sold: {{ analytics_total.total_tours_sold }}</h2>
                    <!-- <img src="{{ analytics_total.state_order_graph_url }}" /> -->
                    <img src="{{ analytics_total.country_order_graph_url }}" />
                    <img src="{{ analytics_total.tour_type_pie_chart_url }}" />
                </div>
            {% endif %}
        </div>

        <script type="text/javascript" charset="utf-8">
            $('input[name=from_date]').datepicker();
            $('input[name=to_date]').datepicker();
        </script>
    {% endif %}
{% endblock content %}
