{% extends "admin/base_site.html" %}

{% block title %}Tour Guests{% endblock title %}

{% block sub-extrahead %}
	<script type="text/javascript" src="{{ MEDIA_URL }}js/jquery.print.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(function() {
            $('#start_date').datepicker({
	            numberOfMonths: 3,
	            onSelect: function(dateText, inst){
	                document.location = '{% url tour_guests %}?start_date=' + dateText;
	            }
	        });

			$('#print_button').click(function() {
				$('#print_area').print();
			});

			$('.guest').dblclick(function() {
				var guest = $(this);
				if (!guest.hasClass("editing")) {
					guest.addClass("editing");
					var newHTML = "<input type='text' value='" + guest.html() + "' />" +
					"<input type='button' value='Update' />";
					guest.html(newHTML);
					guest.find(":button").click(function() {
						var $this = $(this);
						var name = guest.find(":text").val();
						if (name) {
							$.post('{% url tour_guests_update %}', {'name': name, 'id': guest.attr('rel')},
			                    function(data) {
			                        if (data.success) {
			                           guest.html(name);
									   guest.removeClass('editing');
			                        }
			                    }, 'json'
			                );
						}
					});
					guest.keypress(function(e) {
    					if(e.keyCode == 13) {
							guest.find(":button").click();
						}
					});
				}
			});
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Tour Guests By Date</h1>
    <div id="inventory_date_selector">
        Date: <input type="text" name="start_date" value="{{ start_date|date:"m/d/Y" }}" id="start_date" />
    </div>
    <h3 style="color:#FF0000;">Wait 10 seconds for names to appear on screen.</h3>
    <br/>
	<small>Double click names to edit.</small>
	<br/>
	<input type="button" value="Print" id="print_button" />
	<div id="print_area">
    {% if tour_products %}
		{% for tour_product in tour_products %}
			<h2>{{ tour_product.product.name }}</h2>
			{% for order_item in tour_product.items %}
                {% with order_item.product.productvariation.optionkey as option_key_for_order_item %}
    				{% for guest in order_item.guests.all %}
    					<span style="color:#FF0000;">
							<span class="guest" rel="{{ guest.id }}">{{ guest.name }}</span>
							({{ option_key_for_order_item }})
						</span> - <a href="{% url order_detail order_item.order.id %}">{{ order_item.order.id }}</a>
                        <br/>
					{% endfor %}
                {% endwith %}
			{% endfor %}
		{% endfor %}
    {% else %}
        <p>
            There were no tours sold on this day.
        </p>
    {% endif %}
	</div>
{% endblock content %}
